<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    	<!-- Required meta tags -->
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>lobby.io</title>
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/public/assets/css/homepage.css">
        <!-- Bootstrap Font Awesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- jQuery -->
        <script type="text/javascript" src="/public/assets/js/lib/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="nav d-flex">
                <a class="nav-link font-weight-bold p-2" href="/">Home</a>
                <a class="nav-link font-weight-bold p-2" href="/about">About</a>
                <a class="nav-link font-weight-bold p-2" href="/blog">Blog</a>
                <% if(!currentUser){ %>
                <a class="nav-link font-weight-bold p-2 ml-auto" href="/login">Login</a>
                <a class="nav-link font-weight-bold p-2" href="/register">Register</a>
                <% } else { %>
                <a class="nav-link font-weight-bold p-2 ml-auto" href="/user/<%= currentUser._id %>">Signed in as <%= currentUser.username %></a></span>
                <a class="nav-link font-weight-bold p-2" href="/logout">Logout</a>
                <% } %>
            </nav>