body {
    font-family: 'Titillium Web', sans-serif;
    padding: 1em;
    max-width: 1080px;
    margin: auto;
    background: url();
    background-size: cover;
    background-position: center;
}

html {
    height: 100%;
}

a {
    color: blue;
}

h1 {
    text-align: center;
}

h2 {
}

ul {
    text-align: center;
}

li {
    margin-right: 20px;
    border-right: 2px solid black;
    display: inline-block;
    padding-right: 25px;
}

.Last {
    border-right: 0px solid black;
}

.card-img-top {
    height: 65%;
}
