<%- include('partials/header'); -%> 

<h1>About</h1>

<p>lobby.io is a semi-curated aggregate site for FPS and BR related news. Load it up between matches to catch up on recent announcements, read developer tweets, peek at the latest patch notes for your game of choice, and more!</p>

<p>*This site is a work in progress*</p>

<%- include('partials/footer'); -%>